
@{
    ViewBag.Title = "LegalStatusData";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/themes/brand-dark.js"></script>

    <style>
        .highcharts-figure,
        .highcharts-data-table table {
            min-width: 310px;
            max-width: 800px;
            margin: 1em auto;
        }

        #container {
            height: 400px;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #ebebeb;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td,
        .highcharts-data-table th,
        .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr,
        .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }
    </style>

    <figure class="highcharts-figure" style="fill:#32142fa1">
        <div id="container" style=" border-radius: calc(var(--curve) * .25px);"></div>
        <p class="highcharts-description">

        </p>
    </figure>


    <script type="text/javascript">
        // Data retrieved from https://gs.statcounter.com/browser-market-share#monthly-202201-202201-bar

        // Create the chart

        $(document).ready(function () {
            var chart = Highcharts.chart('container', {
                chart: {
                    type: 'column',
                    events: {
                        load: requestData
                    },
                    credits: {
                        enabled: false
                    },
                    backgroundColor: '#32142fa1',
                    options3d: {
                        enabled: true,
                        alpha: 15,
                        beta: 15,
                        depth: 50,
                        viewDistance: 25
                    }

                },
                credits: {
                    enabled: false
                },
                title: {
                    align: 'center',
                    text: 'Employee Status Count by Month'
                },
                subtitle: {
                    align: 'left',
                    text: ''
                },
                accessibility: {
                    announceNewData: {
                        enabled: true
                    }
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Total  '
                    }

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
                },

                series: [
                    {
                        name: 'Status Count',
                        colorByPoint: true,
                        data: [
                            {
                                name: 'Jan',
                                y: @ViewBag.DashboardData["Jan"][14],
                                drilldown: 'Jan'
                            },
                            {
                                name: 'Feb',
                                y: @ViewBag.DashboardData["Feb"][14],
                                drilldown: 'Feb'
                            },
                            {
                                name: 'Mar',
                                y:  @ViewBag.DashboardData["Mar"][14],
                                drilldown: 'Mar'
                            },
                            {
                                name: 'Apr',
                                y: @ViewBag.DashboardData["Apr"][14],
                                drilldown: 'Apr'
                            },
                            {
                                name: 'May',
                                y: @ViewBag.DashboardData["May"][14],
                                drilldown: 'May'
                            },
                            {
                                name: 'June',
                                y:  @ViewBag.DashboardData["Jun"][14],
                                drilldown: 'June'
                            },
                            {
                                name: 'Jul',
                                y: @ViewBag.DashboardData["Jul"][14],
                                drilldown: 'Jul'
                            },
                            {
                                name: 'Aug',
                                y: @ViewBag.DashboardData["Aug"][14],
                                drilldown: 'Aug'
                            },
                            {
                                name: 'Sep',
                                y: @ViewBag.DashboardData["Sep"][14],
                                drilldown: 'Sep'
                            },
                            {
                                name: 'Oct',
                                y: @ViewBag.DashboardData["Oct"][14],
                                drilldown: 'Oct'
                            },
                            {
                                name: 'Nov',
                                y: @ViewBag.DashboardData["Nov"][14],
                                drilldown: 'Nov'
                            },
                            {
                                name: 'Dec',
                                y: @ViewBag.DashboardData["Dec"][14],
                                drilldown: 'Dec'
                            }
                        ]
                    }
                ],
                drilldown: {
                    breadcrumbs: {
                        position: {
                            align: 'right'
                        }
                    },
                    series: [
                        {
                            name: 'Jan',
                            id: 'Jan',
                            data: [
                                [ "Other_EAD",
                                  @ViewBag.DashboardData["Jan"][0]
                                ],
                                ["TN_Visa",
                                  @ViewBag.DashboardData["Jan"][1]
                                ],
                                ["H1-B_Visa",
                                  @ViewBag.DashboardData["Jan"][2]
                                ],[ "L1_Visa",
                                  @ViewBag.DashboardData["Jan"][3]
                                ],[ "E3_Visa",
                                  @ViewBag.DashboardData["Jan"][4]
                                ],[ "Other_Visa",
                                  @ViewBag.DashboardData["Jan"][5]
                                ],[ "GC-EAD",
                                  @ViewBag.DashboardData["Jan"][6]
                                ],[ "TPS_EAD",
                                  @ViewBag.DashboardData["Jan"][7]
                                ],[ "H4-EAD",
                                  @ViewBag.DashboardData["Jan"][8]
                                ],[ "L2-EAD",
                                  @ViewBag.DashboardData["Jan"][9]
                                ],[ "Asylum_EAD",
                                  @ViewBag.DashboardData["Jan"][10]
                                ],[ "Other_EAD",
                                  @ViewBag.DashboardData["Jan"][11]
                                ],[ "Eligible_to_work_in_the_US",
                                  @ViewBag.DashboardData["Jan"][12]
                                ],[ "US_Citizen",
                                  @ViewBag.DashboardData["Jan"][13]
                                ]
                            ]
                        },
                        {
                            name: 'Feb',
                            id: 'Feb',
                            data: [
                             	[ "Other_EAD",
                                  @ViewBag.DashboardData["Feb"][0]
                                ],
                                ["TN_Visa",
                                  @ViewBag.DashboardData["Feb"][1]
                                ],
                                ["H1-B_Visa",
                                  @ViewBag.DashboardData["Feb"][2]
                                ],[ "L1_Visa",
                                  @ViewBag.DashboardData["Feb"][3]
                                ],[ "E3_Visa",
                                  @ViewBag.DashboardData["Feb"][4]
                                ],[ "Other_Visa",
                                  @ViewBag.DashboardData["Feb"][5]
                                ],[ "GC-EAD",
                                  @ViewBag.DashboardData["Feb"][6]
                                ],[ "TPS_EAD",
                                  @ViewBag.DashboardData["Feb"][7]
                                ],[ "H4-EAD",
                                  @ViewBag.DashboardData["Feb"][8]
                                ],[ "L2-EAD",
                                  @ViewBag.DashboardData["Feb"][9]
                                ],[ "Asylum_EAD",
                                  @ViewBag.DashboardData["Feb"][10]
                                ],[ "Other_EAD",
                                  @ViewBag.DashboardData["Feb"][11]
                                ],[ "Eligible_to_work_in_the_US",
                                  @ViewBag.DashboardData["Feb"][12]
                                ],[ "US_Citizen",
                                  @ViewBag.DashboardData["Feb"][13]
                                ]
                            ]
                        },
                        {
                            name: 'Mar',
                            id: 'Mar',
                            data: [
                                								[ "Other_EAD",
                                  @ViewBag.DashboardData["Mar"][0]
                                ],
                                ["TN_Visa",
                                  @ViewBag.DashboardData["Mar"][1]
                                ],
                                ["H1-B_Visa",
                                  @ViewBag.DashboardData["Mar"][2]
                                ],[ "L1_Visa",
                                  @ViewBag.DashboardData["Mar"][3]
                                ],[ "E3_Visa",
                                  @ViewBag.DashboardData["Mar"][4]
                                ],[ "Other_Visa",
                                  @ViewBag.DashboardData["Mar"][5]
                                ],[ "GC-EAD",
                                  @ViewBag.DashboardData["Mar"][6]
                                ],[ "TPS_EAD",
                                  @ViewBag.DashboardData["Mar"][7]
                                ],[ "H4-EAD",
                                  @ViewBag.DashboardData["Mar"][8]
                                ],[ "L2-EAD",
                                  @ViewBag.DashboardData["Mar"][9]
                                ],[ "Asylum_EAD",
                                  @ViewBag.DashboardData["Mar"][10]
                                ],[ "Other_EAD",
                                  @ViewBag.DashboardData["Mar"][11]
                                ],[ "Eligible_to_work_in_the_US",
                                  @ViewBag.DashboardData["Mar"][12]
                                ],[ "US_Citizen",
                                  @ViewBag.DashboardData["Mar"][13]
                                ]
                            ]
                        },
                        {
                            name: 'Apr',
                            id: 'Apr',
                            data: [
                               								[ "Other_EAD",
                                  @ViewBag.DashboardData["Apr"][0]
                                ],
                                ["TN_Visa",
                                  @ViewBag.DashboardData["Apr"][1]
                                ],
                                ["H1-B_Visa",
                                  @ViewBag.DashboardData["Apr"][2]
                                ],[ "L1_Visa",
                                  @ViewBag.DashboardData["Apr"][3]
                                ],[ "E3_Visa",
                                  @ViewBag.DashboardData["Apr"][4]
                                ],[ "Other_Visa",
                                  @ViewBag.DashboardData["Apr"][5]
                                ],[ "GC-EAD",
                                  @ViewBag.DashboardData["Apr"][6]
                                ],[ "TPS_EAD",
                                  @ViewBag.DashboardData["Apr"][7]
                                ],[ "H4-EAD",
                                  @ViewBag.DashboardData["Apr"][8]
                                ],[ "L2-EAD",
                                  @ViewBag.DashboardData["Apr"][9]
                                ],[ "Asylum_EAD",
                                  @ViewBag.DashboardData["Apr"][10]
                                ],[ "Other_EAD",
                                  @ViewBag.DashboardData["Apr"][11]
                                ],[ "Eligible_to_work_in_the_US",
                                  @ViewBag.DashboardData["Apr"][12]
                                ],[ "US_Citizen",
                                  @ViewBag.DashboardData["Apr"][13]
                                ]
                            ]
                        },
                        {
                            name: 'May',
                            id: 'May',
                            data: [
                                								[ "Other_EAD",
                                  @ViewBag.DashboardData["May"][0]
                                ],
                                ["TN_Visa",
                                  @ViewBag.DashboardData["May"][1]
                                ],
                                ["H1-B_Visa",
                                  @ViewBag.DashboardData["May"][2]
                                ],[ "L1_Visa",
                                  @ViewBag.DashboardData["May"][3]
                                ],[ "E3_Visa",
                                  @ViewBag.DashboardData["May"][4]
                                ],[ "Other_Visa",
                                  @ViewBag.DashboardData["May"][5]
                                ],[ "GC-EAD",
                                  @ViewBag.DashboardData["May"][6]
                                ],[ "TPS_EAD",
                                  @ViewBag.DashboardData["May"][7]
                                ],[ "H4-EAD",
                                  @ViewBag.DashboardData["May"][8]
                                ],[ "L2-EAD",
                                  @ViewBag.DashboardData["May"][9]
                                ],[ "Asylum_EAD",
                                  @ViewBag.DashboardData["May"][10]
                                ],[ "Other_EAD",
                                  @ViewBag.DashboardData["May"][11]
                                ],[ "Eligible_to_work_in_the_US",
                                  @ViewBag.DashboardData["May"][12]
                                ],[ "US_Citizen",
                                  @ViewBag.DashboardData["May"][13]
                                ]
                            ]
                        },
                        {
                            name: 'June',
                            id: 'June',
                            data: [
                                								[ "Other_EAD",
                                  @ViewBag.DashboardData["Jun"][0]
                                ],
                                ["TN_Visa",
                                  @ViewBag.DashboardData["Jun"][1]
                                ],
                                ["H1-B_Visa",
                                  @ViewBag.DashboardData["Jun"][2]
                                ],[ "L1_Visa",
                                  @ViewBag.DashboardData["Jun"][3]
                                ],[ "E3_Visa",
                                  @ViewBag.DashboardData["Jun"][4]
                                ],[ "Other_Visa",
                                  @ViewBag.DashboardData["Jun"][5]
                                ],[ "GC-EAD",
                                  @ViewBag.DashboardData["Jun"][6]
                                ],[ "TPS_EAD",
                                  @ViewBag.DashboardData["Jun"][7]
                                ],[ "H4-EAD",
                                  @ViewBag.DashboardData["Jun"][8]
                                ],[ "L2-EAD",
                                  @ViewBag.DashboardData["Jun"][9]
                                ],[ "Asylum_EAD",
                                  @ViewBag.DashboardData["Jun"][10]
                                ],[ "Other_EAD",
                                  @ViewBag.DashboardData["Jun"][11]
                                ],[ "Eligible_to_work_in_the_US",
                                  @ViewBag.DashboardData["Jun"][12]
                                ],[ "US_Citizen",
                                  @ViewBag.DashboardData["Jun"][13]
                                ]
                            ]
                        },
                        {
                            name: 'Jul',
                            id: 'Jul',
                            data: [
                               								[ "Other_EAD",
                                  @ViewBag.DashboardData["Jul"][0]
                                ],
                                ["TN_Visa",
                                  @ViewBag.DashboardData["Jul"][1]
                                ],
                                ["H1-B_Visa",
                                  @ViewBag.DashboardData["Jul"][2]
                                ],[ "L1_Visa",
                                  @ViewBag.DashboardData["Jul"][3]
                                ],[ "E3_Visa",
                                  @ViewBag.DashboardData["Jul"][4]
                                ],[ "Other_Visa",
                                  @ViewBag.DashboardData["Jul"][5]
                                ],[ "GC-EAD",
                                  @ViewBag.DashboardData["Jul"][6]
                                ],[ "TPS_EAD",
                                  @ViewBag.DashboardData["Jul"][7]
                                ],[ "H4-EAD",
                                  @ViewBag.DashboardData["Jul"][8]
                                ],[ "L2-EAD",
                                  @ViewBag.DashboardData["Jul"][9]
                                ],[ "Asylum_EAD",
                                  @ViewBag.DashboardData["Jul"][10]
                                ],[ "Other_EAD",
                                  @ViewBag.DashboardData["Jul"][11]
                                ],[ "Eligible_to_work_in_the_US",
                                  @ViewBag.DashboardData["Jul"][12]
                                ],[ "US_Citizen",
                                  @ViewBag.DashboardData["Jul"][13]
                                ]
                            ]
                        },
                        {
                            name: 'Aug',
                            id: 'Aug',
                            data: [
                               								[ "Other_EAD",
                                  @ViewBag.DashboardData["Aug"][0]
                                ],
                                ["TN_Visa",
                                  @ViewBag.DashboardData["Aug"][1]
                                ],
                                ["H1-B_Visa",
                                  @ViewBag.DashboardData["Aug"][2]
                                ],[ "L1_Visa",
                                  @ViewBag.DashboardData["Aug"][3]
                                ],[ "E3_Visa",
                                  @ViewBag.DashboardData["Aug"][4]
                                ],[ "Other_Visa",
                                  @ViewBag.DashboardData["Aug"][5]
                                ],[ "GC-EAD",
                                  @ViewBag.DashboardData["Aug"][6]
                                ],[ "TPS_EAD",
                                  @ViewBag.DashboardData["Aug"][7]
                                ],[ "H4-EAD",
                                  @ViewBag.DashboardData["Aug"][8]
                                ],[ "L2-EAD",
                                  @ViewBag.DashboardData["Aug"][9]
                                ],[ "Asylum_EAD",
                                  @ViewBag.DashboardData["Aug"][10]
                                ],[ "Other_EAD",
                                  @ViewBag.DashboardData["Aug"][11]
                                ],[ "Eligible_to_work_in_the_US",
                                  @ViewBag.DashboardData["Aug"][12]
                                ],[ "US_Citizen",
                                  @ViewBag.DashboardData["Aug"][13]
                                ]
                            ]
                        },
                        {
                            name: 'Sep',
                            id: 'Sep',
                            data: [
                               								[ "Other_EAD",
                                  @ViewBag.DashboardData["Sep"][0]
                                ],
                                ["TN_Visa",
                                  @ViewBag.DashboardData["Sep"][1]
                                ],
                                ["H1-B_Visa",
                                  @ViewBag.DashboardData["Sep"][2]
                                ],[ "L1_Visa",
                                  @ViewBag.DashboardData["Sep"][3]
                                ],[ "E3_Visa",
                                  @ViewBag.DashboardData["Sep"][4]
                                ],[ "Other_Visa",
                                  @ViewBag.DashboardData["Sep"][5]
                                ],[ "GC-EAD",
                                  @ViewBag.DashboardData["Sep"][6]
                                ],[ "TPS_EAD",
                                  @ViewBag.DashboardData["Sep"][7]
                                ],[ "H4-EAD",
                                  @ViewBag.DashboardData["Sep"][8]
                                ],[ "L2-EAD",
                                  @ViewBag.DashboardData["Sep"][9]
                                ],[ "Asylum_EAD",
                                  @ViewBag.DashboardData["Sep"][10]
                                ],[ "Other_EAD",
                                  @ViewBag.DashboardData["Sep"][11]
                                ],[ "Eligible_to_work_in_the_US",
                                  @ViewBag.DashboardData["Sep"][12]
                                ],[ "US_Citizen",
                                  @ViewBag.DashboardData["Sep"][13]
                                ]
                            ]
                        },
                        {
                            name: 'Oct',
                            id: 'Oct',
                            data: [
                               	[ "Other_EAD",
                                  @ViewBag.DashboardData["Oct"][0]
                                ],
                                ["TN_Visa",
                                  @ViewBag.DashboardData["Oct"][1]
                                ],
                                ["H1-B_Visa",
                                  @ViewBag.DashboardData["Oct"][2]
                                ],[ "L1_Visa",
                                  @ViewBag.DashboardData["Oct"][3]
                                ],[ "E3_Visa",
                                  @ViewBag.DashboardData["Oct"][4]
                                ],[ "Other_Visa",
                                  @ViewBag.DashboardData["Oct"][5]
                                ],[ "GC-EAD",
                                  @ViewBag.DashboardData["Oct"][6]
                                ],[ "TPS_EAD",
                                  @ViewBag.DashboardData["Oct"][7]
                                ],[ "H4-EAD",
                                  @ViewBag.DashboardData["Oct"][8]
                                ],[ "L2-EAD",
                                  @ViewBag.DashboardData["Oct"][9]
                                ],[ "Asylum_EAD",
                                  @ViewBag.DashboardData["Oct"][10]
                                ],[ "Other_EAD",
                                  @ViewBag.DashboardData["Oct"][11]
                                ],[ "Eligible_to_work_in_the_US",
                                  @ViewBag.DashboardData["Oct"][12]
                                ],[ "US_Citizen",
                                  @ViewBag.DashboardData["Oct"][13]
                                ]
                            ]
                        },
                        {
                            name: 'Nov',
                            id: 'Nov',
                            data: [
                               								[ "Other_EAD",
                                  @ViewBag.DashboardData["Nov"][0]
                                ],
                                ["TN_Visa",
                                  @ViewBag.DashboardData["Nov"][1]
                                ],
                                ["H1-B_Visa",
                                  @ViewBag.DashboardData["Nov"][2]
                                ],[ "L1_Visa",
                                  @ViewBag.DashboardData["Nov"][3]
                                ],[ "E3_Visa",
                                  @ViewBag.DashboardData["Nov"][4]
                                ],[ "Other_Visa",
                                  @ViewBag.DashboardData["Nov"][5]
                                ],[ "GC-EAD",
                                  @ViewBag.DashboardData["Nov"][6]
                                ],[ "TPS_EAD",
                                  @ViewBag.DashboardData["Nov"][7]
                                ],[ "H4-EAD",
                                  @ViewBag.DashboardData["Nov"][8]
                                ],[ "L2-EAD",
                                  @ViewBag.DashboardData["Nov"][9]
                                ],[ "Asylum_EAD",
                                  @ViewBag.DashboardData["Nov"][10]
                                ],[ "Other_EAD",
                                  @ViewBag.DashboardData["Nov"][11]
                                ],[ "Eligible_to_work_in_the_US",
                                  @ViewBag.DashboardData["Nov"][12]
                                ],[ "US_Citizen",
                                  @ViewBag.DashboardData["Nov"][13]
                                ]
                            ]
                        },
                        {
                            name: 'Dec',
                            id: 'Dec',
                            data: [
                                								[ "Other_EAD",
                                  @ViewBag.DashboardData["Dec"][0]
                                ],
                                ["TN_Visa",
                                  @ViewBag.DashboardData["Dec"][1]
                                ],
                                ["H1-B_Visa",
                                  @ViewBag.DashboardData["Dec"][2]
                                ],[ "L1_Visa",
                                  @ViewBag.DashboardData["Dec"][3]
                                ],[ "E3_Visa",
                                  @ViewBag.DashboardData["Dec"][4]
                                ],[ "Other_Visa",
                                  @ViewBag.DashboardData["Dec"][5]
                                ],[ "GC-EAD",
                                  @ViewBag.DashboardData["Dec"][6]
                                ],[ "TPS_EAD",
                                  @ViewBag.DashboardData["Dec"][7]
                                ],[ "H4-EAD",
                                  @ViewBag.DashboardData["Dec"][8]
                                ],[ "L2-EAD",
                                  @ViewBag.DashboardData["Dec"][9]
                                ],[ "Asylum_EAD",
                                  @ViewBag.DashboardData["Dec"][10]
                                ],[ "Other_EAD",
                                  @ViewBag.DashboardData["Dec"][11]
                                ],[ "Eligible_to_work_in_the_US",
                                  @ViewBag.DashboardData["Dec"][12]
                                ],[ "US_Citizen",
                                  @ViewBag.DashboardData["Dec"][13]
                                ]

                            ]
                        }
                    ]
                }
            });

            function requestData() {
                $.ajax({
                    url: "@Url.Action("LegalStatusData", "Admin")",
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        console.log(data)
                        chart.series[0].data = data;
                    },
                    cache: false
                });
            }
        })

    </script>
</body>
</html>


